:root {
  --snakeColor: rgb(25, 118, 210);
  --bodyColor: rgb(30, 136, 229);
  --foodColor: rgb(244, 67, 54);
  --textColor1: rgb(255, 255, 255);
  --textColor2: rgb(229, 57, 53);
  --textColor3: rgb(250, 250, 250);
  --bgColor1: rgb(139, 195, 74);
  --bgColor2: rgb(76, 175, 80);
  --bgColor3: rgb(27, 94, 32);
  --bgColor4: rgba(0, 0, 0, 0.3);
  --bgColor5: rgb(22, 22, 22);
}

textarea::-webkit-scrollbar {
  width: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--bgColor1);
}

textarea::-webkit-scrollbar-track {
  background-color: var(--bgColor2);
}

*::-moz-selection {
  background-color: var(--bgColor1);
}

*::selection {
  background-color: var(--bgColor1);
}

body {
  background-color: var(--bgColor5);
  margin: 0 !important;
}

input,
textarea {
  background-color: var(--bgColor3);
  color: var(--textColor1);
  outline: none;
}

input:not([type="text"]) {
  cursor: pointer;
}

input[type="range"] {
  cursor: ew-resize;
  height: 20px;
  width: 100px;
  background-color: var(--bgColor2);
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 10px;
  background-color: var(--bgColor1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-moz-range-track {
  background-color: var(--bgColor2);
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 10px;
  background-color: var(--bgColor1);
  appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
}

input:not([type="range"]),
textarea {
  border: 2px solid var(--bgColor2);
}

textarea {
  width: 280px;
  height: 150px;
  resize: none;
}

input[type="text"] {
  width: 100px;
  height: 19px;
  text-align: center;
  font-size: 13;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 2px var(--bgColor3) inset;
  background-color: var(--bgColor1);
}
